parameters:
    level: 4
    paths:
        - src
    excludePaths:
        - src/Behat/Testwork/EventDispatcher/TestworkEventDispatcherSymfonyLegacy.php
        - src/Behat/Testwork/EventDispatcher/TestworkEventDispatcherSymfony5.php
    ignoreErrors:
        -
            identifier: class.notFound
            paths:
                - src/Behat/Testwork/Exception/Stringer/PHPUnitExceptionStringer.php
        -
            identifier: constructor.unusedParameter
            paths:
                - src/Behat/Behat/Definition/Printer/ConsoleDefinitionPrinter.php
                - src/Behat/Behat/EventDispatcher/Cli/StopOnFailureController.php
                - src/Behat/Behat/Output/Node/Printer/ListPrinter.php
                - src/Behat/Behat/Tester/Runtime/RuntimeFeatureTester.php
                - src/Behat/Behat/Transformation/Transformation/ReturnTypeTransformation.php
                - src/Behat/Testwork/Ordering/Cli/OrderController.php
        -
            identifier: function.alreadyNarrowedType
            paths:
                - src/Behat/Testwork/EventDispatcher/TestworkEventDispatcher.php
        -
            identifier: deadCode.unreachable
            paths:
                - src/Behat/Testwork/EventDispatcher/TestworkEventDispatcher.php

        -
            identifier: if.alwaysFalse
            paths:
                - src/Behat/Behat/HelperContainer/ContainerInterface.php
                - src/Behat/Behat/HelperContainer/Exception/ContainerException.php
                - src/Behat/Behat/HelperContainer/Exception/NotFoundException.php
